/* CSS Styles for the header */

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    background-color: #282B30;
}

/* Style the header */
header {
    background-color: #1E2124;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the logo */
header img {
    width: 60px;
    height: 60px;
}

.title-header {
    font-family: Nunito, Comic, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #1E2124;
    color: #FFFFFF;
    margin-right: 660px;
}

/* Style the navigation */
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 10px;
    font-size: 20px;
    font-family: Nunito, Comic, Arial, Helvetica, sans-serif;
}

header nav ul li:first-child {
    margin-left: auto;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
}

header nav ul li a i {
    margin-right: 5px;
}

header nav ul li a:hover {
    background-color: #424549;
    color: #FFFFFF;
}

/* Below the header */


.info{
    color: #FFFFFF;
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: 55px;
    padding: 10px 0px 0px 10px;
}
.info-desc{
    color: #FFFFFF;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 50px 0px 0px 10px;
}
#info-p{
    color: #FFFFFF;
    font-family: Comic, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px 0px 0px 10px;
}
#info-basics{
    color: #FFFFFF;
    font-family: Comic, Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 50px 0px 0px 10px;
}
footer{
    background-color: #1E2124;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}